#
# Useful functions
#

function server(){
	port=8000
	sleep 1 && open http://localhost:${port}/
	python -m SimpleHTTPServer ${port}
}

function ip(){
	curl --silent http://ipecho.net/plain
}

function head(){
	curl --silent -I $1
}